table td
{
	border: 1px;
	border-style: solid;
	border-radius: 2px;
	min-width: 3.5em;
	height: 1.25em;
	text-align: center;
}

.hidelink a:link
{
	color: black;
	text-decoration: none;
}

.hidelink a:visited
{
	color: black;
	text-decoration: none;
}

.hidelink a:hover
{
	text-decoration: underline;
}

#count
{
    border: 1px;
    border-style: solid;
    font-size: 150%;
    text-margin: 20px;
}
